<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Students</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"  href="../css/main.css" />
    </head>
    <body>
        <h1>All Students</h1>
        
        <table>
        	<tr>
        		<th>No.</th>
				<th>ID</th>
				<th>Course Name</th>
		    	<th>SKS Total</th>
			</tr>
    		<tr th:each="course,iterationStatus: ${courses}">
	            <td th:text="'No. ' + ${iterationStatus.count}">No. 1</td>
	            <td th:text="'ID. ' + ${course.idCourse}">ID</td>
		       	<td th:text="'Course Name = ' + ${course.nama}">Name</td>
		       	<td th:text="'SKS Total = ' + ${course.sks}">SKS</td>
	       	</tr>
       	</table>
    </body>
</html>
