<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Students</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"  href="../css/main.css" />
    </head>
    <body>
        <h1>All Students</h1>
        
        <table>
        	<tr>
				<th>Firstname</th>
				<th>Lastname</th>
		    	<th>Age</th>
		    	<th>GPA</th>
			</tr>
    		<tr th:each="student,iterationStatus: ${students}">
	            <td th:text="'No. ' + ${iterationStatus.count}">No. 1</td>
		       	<td th:text="'NPM = ' + ${student.npm}">Student NPM</td>
		       	<td th:text="'Name = ' + ${student.name}">Student Name</td>
		       	<td>
		       		<div th:text="'GPA = ' + ${student.gpa}" th:remove="tag">Student GPA</div>
		       		<span class="warn" th:if="${student.gpa &lt; 2}">Mahasiswa dalam probation</span>
		       	</td>
	       	</tr>
       	</table>
    </body>
</html>
